<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo">Logo</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="sass.html">Skill</a></li>
      <li><a href="components.html">Experience</a></li>
      <li><a href="javascript.html">Contact Me</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="#">Navbar Link</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  </div>
</nav>

<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>

      <h1 class="header center white-text text-lighten-2">Alan Yu Personal Website</h1>

      <div class="row center">
        <h5 class="header col s12 light white-text">A place let you easily understand me in 1 minute</h5>
      </div>
      <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get
          Started</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax">
    <%= image_tag 'keyboard.jpg', alt: 'Unsplashed background img' %>
  </div>
</div>


<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center teal-text"><i class="mdi-social-school"></i></h2>
          <h5 class="center">Education</h5>

          <ul>
            <li>Bachelor degree of computer science</li>
            <li>Master degree of computer science</li>
          </ul>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center teal-text"><i class="mdi-social-group"></i></h2>
          <h5 class="center">Work Experience</h5>

          <p class="light">J.C.Management</p>
          <p>In-house && online insurance system</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center teal-text"><i class="mdi-hardware-keyboard"></i></h2>
          <h5 class="center">Skill</h5>

          <p class="light">

          </p>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <div class="row center">
        <h5 class="header col s12 light center white-text">A modern responsive front-end framework based on Material Design</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><%= image_tag 'background2.jpg' %> </div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send teal-text"></i></h3>
        <h4>Project</h4>
      </div>

      <div class="row">
        <div class="col s4">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <%= image_tag 'taiwan_market.jpg', class: 'activator' %>
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Taiwan Market<i class="mdi-navigation-more-vert right"></i></span>

              <p><a href="#">Github</a></p>

              <p><a href="#">website</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">CiHeper <i class="mdi-navigation-close right"></i></span>

              <p> Taiwan Market is a website I made for my friend, it is a content management system, you can upload pictures of your product and give it a price on it.
              Now the website is reconstructing for a new layout.</p>
            </div>
          </div>
        </div>

        <div class="col s4">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <%= image_tag 'about_me.jpg', class: 'activator' %>
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">About Me Website<i class="mdi-navigation-more-vert right"></i></span>

              <p><a href="#">Github</a></p>

              <p><a href="#">website</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">CiHeper <i class="mdi-navigation-close right"></i></span>

              <p>About me website is created for me to display projects I has done, and show people that skill I have.</p>
            </div>
          </div>
        </div>

        <div class="col s4">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <%= image_tag 'ci_helper.jpg', class: 'activator' %>
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">CiHelper<i class="mdi-navigation-more-vert right"></i></span>

              <p><a href="#">Github</a></p>

              <p><a href="#">website</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">CiHeper <i class="mdi-navigation-close right"></i></span>

              <p>The CiHelper is a in-house tool we use in jcm. It can help you to monitor the issue in continuous
                integration server, and create pull request with the link of test result, update issue in the
                redmine </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



